.sombreado {
  position: fixed; /* Asegura que el sombreado esté fijo en toda la pantalla */
  top: 0;
  left: 0;
  width: 100vw; /* Cubre todo el ancho de la pantalla */
  height: 100vh; /* Cubre toda la altura de la pantalla */
  background-color: rgba(0, 0, 0, 0.5); /* Color con opacidad */
  z-index: 999; /* Por encima de otros elementos */
}


